@import url('reset.css') layer(reset);

/**
 * Multi-line comment
 */

@keyframes fade-in {
	to {
		opacity: 1;
	}
}

@layer elements {
	:root {
		--blue: light-dark(#06b, #3af);
	}

	/* Single-line comment */

	html {
		color-scheme: light dark;

		@media (prefers-reduced-motion: no-preference) {
			scroll-behavior: smooth;
		}
	}

	a:visited {
		color: oklch(from var(--blue) l c calc(h + 35));
	}
}

/* Flush single line comment */
@layer custom-elements {
	@scope (cards-element) {
		:scope {
			/* Flush to parent comment */
			display: block grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

			&:has(> :nth-child(3)) {
				place-content: center;
			}
		}
	}

	@scope (card-element) to (slot) {
		:scope {
			container: card / inline-size;
		}

		h2:not(.foo, .bar) {
			font-family: 'Arial Black', sans-serif;

			@container card (inline-size >= 10rem) {
				padding-inline: clamp(1rem, 5cqi, 2rem);
			}
		}
	}
}
