name: Release PR

on:
  workflow_dispatch:
    inputs:
      new-version:
        description: New version to release
        required: true
        type: choice
        options: [patch, minor, major]

jobs:
  release-pr:
    uses: stylelint/.github/.github/workflows/call-release-pr.yml@ce9130c0ded2a1f42fdcb64a0f1f64dd20959795 # 0.5.1
    with:
      new-version: ${{ github.event.inputs.new-version }}
    permissions:
      contents: write
      pull-requests: write
